.board {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    flex-grow: 1;
    border: 1px solid #bbada0;
    background-color: #bbada0;

    &__cell {
        flex: 1 0 32%; /* explanation below */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        min-height: 200px;
        // max-width: 100px;
        border: 2px solid #bbada0;
        background-color: #eee4da;
        cursor: pointer;

        &:active {
            background-color: greenyellow;
        }

        &:hover {
            // border-color: blue;
        }

        &.is-active {
            background-color: green;
        }
    }

    &__cell-number {
        font-size: 1.5em;
        color: #766e63;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    // background: black;
    margin: 0;
    padding: 0;
    background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c79081, #dfa579); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c79081, #dfa579); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stats {
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container {
    display: flex;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}